target
.nrepl-port
*.iml

### Clojure ###
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

### Intellij ###
.idea/


